---
import Layout from '@layouts/Layout.astro';
import PageHeading from '@components/UI/PageHeading.svelte';
import WorksTab from '@components/UI/WorksTab.svelte';
import { getAllWorks, getWorksByCategory } from '@library/useCms';
import type { Work } from '@library/useCms';

type TabList = {
  id: string;
  title: string;
  content: Work[] | undefined;
};

const title = 'Works';
const description = 'koyama shigehitoの制作物一覧ページ';

const allWorks = await getAllWorks();
const designs = await getWorksByCategory('design');
const development = await getWorksByCategory('development');

const tabList: TabList[] = [
  {
    id: 'All',
    title: 'All',
    content: allWorks,
  },
  {
    id: 'Design',
    title: 'Design',
    content: designs,
  },
  {
    id: 'Development',
    title: 'Development',
    content: development,
  },
];
---

<Layout title={title} description={description} currentPage="works">
  <PageHeading title={{ en: 'WORKS', ja: '制作物' }} />

  <div class="mt-10 md:mt-14">
    <WorksTab data={tabList} client:load />
  </div>
</Layout>
