---
import Layout from '@layouts/Layout.astro';
import PageHeading from '@components/UI/PageHeading.svelte';
import WorksTab from '@components/UI/WorksTab.svelte';
import { getWorks } from '@library/useCms';
import type { Work } from '@library/useCms';

type TabList = {
  id: string;
  title: string;
  content: Work[] | undefined;
};

const works = await getWorks();

const tabList: TabList[] = [
  {
    id: 'All',
    title: 'All',
    content: works,
  },
  {
    id: 'Design',
    title: 'Design',
    content: works,
  },
  {
    id: 'Development',
    title: 'Development',
    content: [],
  },
];
---

<Layout title="works page" currentPage="works">
  <PageHeading title={{ en: 'WORKS', ja: '制作物' }} />

  <div class="mt-14">
    <WorksTab data={tabList} client:load />
  </div>
</Layout>
