---
import Layout from '../layouts/Layout.astro';
import ArticleList from '../components/ArticleList.svelte';
import PageHeading from '../components/UI/PageHeading.svelte';

import { getArticles } from '../library/useCms';
const articles = await getArticles();
---

<Layout title="article page">
  <PageHeading title={{ en: 'ARTICLES', ja: '記事' }} />

  <div class="mt-16">
    {articles && <ArticleList articles={articles} />}
  </div>
</Layout>
