---
import Layout from '../layouts/Layout.astro';
import ArticleList from '../components/ArticleList.svelte';
import HeadingPrimary from '../components/UI/HeadingPrimary.svelte';

import { getArticles, getWorks } from '../library/useCms';
const articles = await getArticles(5);
const works = await getWorks();
---

<Layout title="Welcome to Astro.">
  <main>
    <div class="flex gap-8 flex-col">
      <div class="w-full h-[136px] bg-slate-400"></div>
      <div class="w-full h-[136px] bg-slate-400"></div>
    </div>

    <div class="mt-28">
      <HeadingPrimary title={{ en: 'ARTICLES', ja: '記事' }} />
    </div>

    <div class="mt-10">
      {articles && <ArticleList articles={articles} />}
    </div>
  </main>
</Layout>

<style></style>
