---
import Layout from '../layouts/Layout.astro';
import WorkList from '../components/WorkList.svelte';
import ArticleList from '../components/ArticleList.svelte';
import HeadingPrimary from '../components/UI/HeadingPrimary.svelte';
import LinkButton from '../components/UI/LinkButton.svelte';

import { getArticles, getWorks } from '../library/useCms';
const articles = await getArticles(5);
// const works = await getWorks();
---

<Layout title="Welcome to Astro.">
  <main>
    <div class="flex flex-col gap-8">
      <div class="h-[136px] w-full bg-slate-400"></div>
      <div class="h-[136px] w-full bg-slate-400"></div>
    </div>

    <div class="mt-28">
      <HeadingPrimary title={{ en: 'WORKS', ja: '制作物' }} />
    </div>
    <div class="mt-10">
      <WorkList />
      <div class="mt-10">
        <LinkButton href="./works">more</LinkButton>
      </div>
    </div>

    <div class="mt-28">
      <HeadingPrimary title={{ en: 'ARTICLES', ja: '記事' }} />
    </div>
    <div class="mt-10">
      {articles && <ArticleList articles={articles} />}
      <div class="mt-10">
        <LinkButton href="./articles">more</LinkButton>
      </div>
    </div>
  </main>
</Layout>

<style></style>
