---
import Layout from '@layouts/Layout.astro';
import PageHeading from '@components/UI/PageHeading.svelte';
---

<Layout title="article page" currentPage="profile">
  <PageHeading title={{ en: 'PROFILE', ja: 'プロフィール' }} />

  <div class="mt-14">プロフィールです</div>
</Layout>
