---
import Profile from '@components/Profile.svelte';
import PageHeading from '@components/UI/PageHeading.svelte';
import Layout from '@layouts/Layout.astro';
import { getProfile } from '@library/useCms';

const title = 'Profile';
const description = 'koyama shigehitoのプロフィールページ';

const profile = await getProfile();
---

<Layout title={title} description={description} currentPage="profile">
  <PageHeading title={{ en: 'PROFILE', ja: 'プロフィール' }} />
  <div class="mt-8 md:mt-14">
    {profile && <Profile profile={profile} isDetail={true} />}
  </div>
</Layout>
