---
import Layout from "../layouts/Layout.astro";
---

<Layout title="works page">
  <div class="flex gap-8 flex-col">
    <div class="w-full h-[136px] bg-slate-400"></div>
    <div class="w-full h-[136px] bg-slate-400"></div>
  </div>
</Layout>
