---
import { HamburgerMenu } from "./hamburger-menu";
const { mainTitle } = Astro.props;

const links = [
  { href: "/", label: "トップ" },
  { href: "/about", label: "アバウト" },
  { href: "/contact", label: "お問合せ" },
];
---

<nav class="header">
  <h1>{mainTitle}</h1>
  <ul class="links">
    {links.map(item =>(
      <li>
        <a href={item.href}>
          {item.label}
        </a>
      </li>
    ))}
  </ul>
  <div class='hamburgerMenu'>
    <HamburgerMenu links={links} client:visible />
  </div>
</nav>

<style>
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.links {
  display: flex;
  gap: 12px;
  list-style: none;
}
.hamburgerMenu{
  display: none;
}
@media screen and (max-width:768px) { 
  .hamburgerMenu {
    display: block;
  }
  .links {
    display: none;
  }
}
</style>