---
import { HamburgerMenu } from "./hamburger-menu";
const { mainTitle } = Astro.props;

const links = [
  { href: "/", label: "トップ" },
  { href: "/about", label: "アバウト" },
  { href: "/contact", label: "お問合せ" },
];
---

<nav class="flex justify-between items-center py-6 px-4 bg-rose-200">
  <h1 class="text-rose-500 text-xl font-bold">{mainTitle}</h1>
  <ul class="flex gap-4 md:hidden">
    {links.map(item =>(
      <li>
        <a href={item.href}>
          {item.label}
        </a>
      </li>
    ))}
  </ul>
  <div class='hidden md:block'>
    <HamburgerMenu links={links} client:visible />
  </div>
</nav>
