---
import '@fontsource/zen-kaku-gothic-new';
import '@fontsource/barlow-condensed';

import Header from '@components/Header.svelte';
import PageLinks from '@components/PageLinks.svelte';
import Footer from '@components/Footer.svelte';

export interface Props {
  title: string;
}

const { title } = Astro.props;
const mainTitle = 'minotake';
---

<!DOCTYPE html>
<html lang="ja" class="font-zen font-medium">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body class="bg-slate-50">
    <div class="grid min-h-screen grid-cols-layout grid-rows-layout gap-x-6">
      <div class="sticky top-0 z-10 col-span-9">
        <Header mainTitle={mainTitle} />
      </div>

      <div class="sticky top-[130px] col-span-1 col-start-2 my-16 h-60">
        <PageLinks />
      </div>

      <div class="col-span-6 col-start-3 my-16">
        <slot />
      </div>

      <div class="col-span-9 mt-16">
        <Footer />
      </div>
    </div>
    <style is:global></style>
  </body>
</html>
